# Data & model files
*.pkl
*.pk1
*.pt
*.pth
*.h5

# Media files
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.webm
*.mkv
*.mp4
*.avi
*.wav
*.mp3

# File lists
filelists/*.txt
evaluation/test_filelists/lr*.txt

# Cache & temp files
__pycache__/
*.py[cod]
*$py.class
.history
.cache
.venv
*.manifest
*.spec
.installed.cfg
.installed.txt
last_file.txt

# IDE & editor settings
.vscode/
pyrightconfig.json

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
MANIFEST

# Logs
pip-log.txt
pip-delete-this-directory.txt

# Project specific
syn_out/
checkpoints/
.gradio/

huggingface_cache/
*.locks